services:
  vmalert:
    image: victoriametrics/vmalert:latest
    container_name: vmalert
    depends_on:
      - telegraf
    volumes:
      - ./vmalert:/etc/vmalert/
    env_file: .env
    command:
      - '--remoteWrite.disablePathAppend'
      - '--rule=/etc/vmalert/live_rules.yml'
      - '--remoteWrite.url=${TELEGRAF_URL}'
      - '--datasource.url=${DATASOURCE_URL}'
      - '--httpListenAddr=:8880'
      - '--replay.maxDatapointsPerQuery=1'
    # Use host network to access Prometheus SSH tunnel.
    # I wasn't able to get `host.docker.internal` to work.
    network_mode: host
    restart: unless-stopped
#
#  vmalert_forever:
#    image: victoriametrics/vmalert:latest
#    container_name: vmalert_forever
#    depends_on:
#      - telegraf
#    volumes:
#      - ./vmalert:/etc/vmalert/
#    env_file: .env
#    command:
#      - '--remoteWrite.disablePathAppend'
#      - '--rule=/etc/vmalert/forever_live_rules.yml'
#      - '--remoteWrite.showURL'
#      - '--remoteWrite.url=${TELEGRAF_URL}'
#      - '--datasource.showURL'
#      - '--datasource.url=${DATASOURCE_URL}'
#      - '--httpListenAddr=:8881'
#      - '--replay.maxDatapointsPerQuery=1'
#    network_mode: host
#    restart: no
#
  vmalert_backfill_1Y:
    image: victoriametrics/vmalert:latest
    container_name: vmalert_backfill_1Y
    depends_on:
      - telegraf
    volumes:
      - ./vmalert:/etc/vmalert/
      - ./scripts/vmalert-entrypoint.sh:/entrypoint.sh:ro
    entrypoint: /entrypoint.sh
    env_file: .env
    command:
      - '--rule=/etc/vmalert/backfill_1Y.yml'
      - '--from=1 year ago'
      - '--to=1 week ago - 1 day ago'
      - '--bins=26' # Perform one range query per 2 weeks
    network_mode: host
    restart: no
#
  vmalert_backfill_1W:
    image: victoriametrics/vmalert:latest
    container_name: vmalert_backfill_1W
    depends_on:
      - telegraf
    volumes:
      - ./vmalert:/etc/vmalert/
      - ./scripts/vmalert-entrypoint.sh:/entrypoint.sh:ro
    entrypoint: /entrypoint.sh
    env_file: .env
    command:
      - '--rule=/etc/vmalert/backfill_1W.yml'
      - '--from=1 week ago'
      - '--to=1 days ago'
    network_mode: host
    restart: no

#  vmalert_backfill_1D:
#    image: victoriametrics/vmalert:latest
#    container_name: vmalert_backfill_1D
#    depends_on:
#      - telegraf
#    volumes:
#      - ./vmalert:/etc/vmalert/
#      - ./scripts/vmalert-entrypoint.sh:/entrypoint.sh:ro
#    entrypoint: /entrypoint.sh
#    env_file: .env
#    command:
#      - '--rule=/etc/vmalert/backfill_1D.yml'
#      - '--from=1 day ago'
#      - '--to=1 minute ago'
#    network_mode: host
#    restart: no

#  vmalert_backfill_forever:
#    image: victoriametrics/vmalert:latest
#    container_name: vmalert_backfill_forever
#    depends_on:
#      - telegraf
#    volumes:
#        - ./vmalert:/etc/vmalert/
#        - ./scripts/vmalert-entrypoint.sh:/entrypoint.sh:ro
#    entrypoint: /entrypoint.sh
#    env_file: .env
#    # The `manifest_network="true"` label was introduced on 10 May 2023.
#    command:
#      - '--rule=/etc/vmalert/backfill_forever.yml'
#      - '--from=10 May. 2023'
#    network_mode: host
#    restart: no

  telegraf:
    image: telegraf:latest
    container_name: telegraf
    ports:
      - "9273:9273"
      - "9274:9274"
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      timescaledb:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    restart: unless-stopped

  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: timescaledb
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: metrics
    volumes:
      - timescaledb_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]

  # Migrations are handled by the `migrate` CLI from https://github.com/golang-migrate/migrate
  migrate:
    image: migrate/migrate:latest
    container_name: migrate
    depends_on:
      timescaledb:
        condition: service_healthy
    volumes:
      - ./timescaledb/migrations:/migrations
    entrypoint: [ "migrate", "-path", "/migrations", "-database", "postgres://postgres:postgres@timescaledb:5432/metrics?sslmode=disable", "up" ]
    restart: "no"

  postgrest:
    image: postgrest/postgrest:latest
    container_name: postgrest
    ports:
      - "3000:3000"
    environment:
      PGRST_DB_URI: postgres://postgres:postgres@timescaledb:5432/metrics
      PGRST_DB_SCHEMA: api
      PGRST_DB_ANON_ROLE: web_anon
      PGRST_JWT_SECRET: 63nXLCv3C0kz6mXz651p6ECynzm7IH7J # Hardcoded for demo purposes. The bearer token is `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoid3JpdGVyIn0.AVwQ4jGud_cxb8dzR_XTskiDq2CrfTX7QmPVndrsOGM`
    depends_on:
      timescaledb:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    restart: unless-stopped

volumes:
  timescaledb_data:
